{% extends "base_generic.html" %}

{% block content %}
    <p>Detail kelas {{ kelas.name }}</p>
    {% for sis in siswa %}
        <p><a href="{{ sis.get_absolute_url }}">{{ sis.user }}</a></p>
    {% endfor %}

    <h2>Daftar Mapel</h2>
    <p>Senin</p>
    {% for m in mapel %}
        {% if "Senin" in m.hari %}
            <p><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></p>
        {% endif %}
    {% endfor %}

    <p>Selasa</p>
    {% for m in mapel %}
        {% if "Selasa" in m.hari %}
            <p><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></p>
        {% endif %}
    {% endfor %}

    <p>Rabu</p>
    {% for m in mapel %}
        {% if "Rabu" in m.hari %}
            <p><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></p>
        {% endif %}
    {% endfor %}

    <p>Kamis</p>
    {% for m in mapel %}
        {% if "Kamis" in m.hari %}
            <p><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></p>
        {% endif %}
    {% endfor %}

    <p>Jumát</p>
    {% for m in mapel %}
        {% if "Jumat" in m.hari %}
            <p><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></p>
        {% endif %}
    {% endfor %}

    <p>Sabtu</p>
    {% for m in mapel %}
        {% if "Sabtu" in m.hari %}
            <p><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></p>
        {% endif %}
    {% endfor %}

{% endblock %}