{% extends "base_generic.html" %}

{% block content %}
<p>Hello from dashboard</p>
<ul>
    {% if perms.berita.can_post_news %}
        <li><a href="{% url 'berita:add_post' %}">Add post</a></li>
        <li><a href="{% url 'berita:all_posts' %}">All post</a></li>
    {% endif %}

    <hr>
    <li><a href="{% url 'akun:profile' %}">Edit profile</a></li>
    {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>   
    {% endif %}
</ul>
{% endblock %}