<!-- file ini digunakan untuk mengatur struktur menu (di sidebar) -->

<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="{% url 'berita:homepage' %}">Home</a></li>
        <li><a href="generic.html">Profile</a></li>
        <li><a href="elements.html">Akademik</a></li>
        <li><a href="elements.html">Contact</a></li>
        {% block menu %}
        <li>
            <span class="opener">Account</span>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'akun:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li> 
                {% endif %}
            </ul>
        </li>
        {% endblock menu %}
    </ul>
</nav>