<!-- file ini mengatur bagian struktur kontak SMK (footer) -->

<section>
    <header class="major">
        <h2>Profile</h2>
    </header>
    <p>SMK Islam Al-Amanah Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    <ul class="contact">
        <li class="fa-envelope-o"><a href="#">contact@smkalamanah.sch.id</a></li>
        <li class="fa-phone">(081) 2222-90905</li>
        <li class="fa-home">Jl. Raya Kauman No. 13, Desa Bentar, Kec. Salem,<br />
        Kab. Brebes, 52275, Jawa Tengah</li>
    </ul>
</section>